*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap;
}
header
{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    width: 100vw;
    display: flex;
    background-color:  rgb(36, 13, 13);;
    flex-direction: row;
    justify-content: space-around;
}
.icon
{
    font-weight: bold;
    font-size: 30px;
    color: white;
}
nav ul
{
   
    display: flex;
    flex-direction: row;
}
nav ul li a
{
    
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover
{
    color: #29d9d5;
}
nav ul li

{
    list-style: none;
}

button
{
    background-color: transparent;
    border-radius: 30px;
    color: #29d9d5;
    border: 2px solid #29d9d5;;
    width: 180px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
}
button:hover
{
    background: #29d9d5;
color: black;
}

/* bar */
.bar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 160px;
    width: 80vw;
    margin-top: 30px;
    border-radius: 20px;
    
    height: 100px;
    
    background-color: rgb(204, 195, 195);
}
.bar h2,h3
{
    padding:5px;
    padding-left: 30px;
}
.bar h2
{
    color: rgb(14, 14, 80);
}
.bar h3
{
    font-weight: normal;
}
.box
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 120px;
    width: 85vw;
    margin-top: 30px;
    border-radius: 20px;
    
    /* height: 100px; */
    
    /* background-color: rgb(204, 195, 195); */
}
.imgs img
{
    border-radius: 10px;
    width: 425px;
    height: 320px;
    margin: 10px;
}
.imgs img:hover
{
    opacity: 0.7;
    filter: grayscale(rgb);
   
  
}
.ban
{
    margin-top: 50px;
  
    height: 350px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
    justify-content: center;
}
.ban img
{
    z-index: -1;
    position: absolute;
    opacity: .8;
}
.ban h2
{
    opacity: 1;
    font-size: 28px;
    color: #29d9d5;
}
.ban h1
{   opacity: 1;
    font-size: 50px;
    color: white;
}
.ban h3
{
    opacity: 1;
    font-size: 20px;
    color: gray;
}
.ban-1
{
   
    color: white;
    height: 350px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
   background-color: black;
    justify-content: center;
}
.ban-1 .one
{
    /* justify-content: center; */
    align-items: center;
    line-height: 40px;
   
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
   
}
.ban-1 .one .foot
{
    display: flex;
    flex-direction: row;
}
.ban-1 .one .foot .ic
{
    border: 1px solid #29d9d5;
    border-radius: 50%;
    padding: 10px;

    margin:10px ;
    transition: 1s;
}
.ban-1 .one .foot .ic:hover
{
    background-color: #29d9d5;
}
.bi
{
    width: 50px;
    height: 50px;
    color: #29d9d5;
    
    background: black;
    /* padding:20px; */
  
}
.bi:hover
{
    background:transparent;
    color: black;
}
input
{
    width:300px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    font-size: 20px;
    margin-left: 30px;
    border: 1px solid #29d9d5;
    padding-left: 20px;
    background-color: transparent;
    color: gray;
    
}
.bi-facebook
{
    color: #29d9d5;
    background-color: black;
}